.footer__menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 850px) {
  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}