.footer__link {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-decoration: none;
  font: 400 14px/1.5 'Montserrat', sans-serif;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity .6s ease;
  -o-transition: opacity .6s ease;
  transition: opacity .6s ease;
  cursor: pointer;
}

.footer__link:hover {
  opacity: .6;
}

@media (max-width: 950px) {
  .footer__link {
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  .footer__link:nth-child(2n+1) {
    border-right: 1px solid #ffffff;
  }

  .footer__link {
    padding: 10px 0;
  }
}