.collections__description {
  max-width: 445px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 850px) {
  .collections__description {
    max-width: min-content;
  }
}

@media (max-width: 450px) {
  .collections__description {
    max-width: max-content;
  }
}