.nav {
  margin: 0;
  padding: 31px 0 0 0;
  min-width: 1110px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

@media (max-width: 1180px) {
  .nav {
    min-width: 700px;
  }
}

@media (max-width: 750px) {
  .nav {
    min-width: 500px;
  }
}

@media (max-width: 550px) {
  .nav {
    min-width: 250px;
    flex-direction: column-reverse;
  }
}