.tasting__img {
  width: 260px;
  height: 260px;
  position: absolute;
  object-fit: cover;
}

@media (max-width: 1250px) {
  .tasting__img {
    width: 10px;
    height: 10px;
    visibility: hidden;
  }
}