.collections__grid-description {
  padding: 10px 37px 15px 30px;
  display: flex;
  flex-direction: column;
  background-color: #E6E3C4;
}

@media (max-width: 850px) {
  .collections__grid-description {
    padding: 5px 25px 5px 25px;
  }
}

@media (max-width: 450px) {
  .collections__grid-description {
    padding-left: 0;
  }
}