.button {
  max-width: max-content;
  margin: 0;
  padding: 15px 30px;
  background-color: #998431;
  font: 500 16px/1.2 'Montserrat', sans-serif;
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  text-transform: uppercase;
  -webkit-transition: opacity .6s ease;
  -o-transition: opacity .6s ease;
  transition: opacity .6s ease;
  cursor: pointer;

}

.button:hover {
  opacity: .8;
}

@media (max-width: 850px) {
  .button {
    padding: 10px 15px;
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .button {
    text-align: center;
  }
}