.collections__grid-year {
  margin: 0;
  padding: 26px 24px 26px 19px;
  font: 400 14px/1.5 'Montserrat', sans-serif;
  color: #282828;
  background-color: #E6E3C4;
}

@media (max-width: 850px) {
  .collections__grid-year {
    padding: 18px 18px 18px 18px;
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .collections__grid-year {
    padding: 10px 0 10px 0;
  }
}